In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("telco_churn.csv")

In [5]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [6]:

df['gender'].value_counts()

Male      3555
Female    3488
Name: gender, dtype: int64

In [7]:
df['MonthlyCharges'] = df['MonthlyCharges'].astype(float)
df.groupby('gender')['MonthlyCharges'].mean()

gender
Female    65.204243
Male      64.327482
Name: MonthlyCharges, dtype: float64

In [8]:
df.groupby('gender')['MonthlyCharges'].median()

gender
Female    70.65
Male      70.10
Name: MonthlyCharges, dtype: float64

In [9]:
df.groupby('gender')['MonthlyCharges'].min()

gender
Female    18.40
Male      18.25
Name: MonthlyCharges, dtype: float64

In [10]:
df.groupby('gender')['MonthlyCharges'].max()

gender
Female    118.75
Male      118.35
Name: MonthlyCharges, dtype: float64

In [11]:
df['SeniorCitizen'].value_counts()

0    5901
1    1142
Name: SeniorCitizen, dtype: int64

In [12]:
df['MonthlyCharges'] = df['MonthlyCharges'].astype(float)
df.groupby('SeniorCitizen')['MonthlyCharges'].mean()

SeniorCitizen
0    61.847441
1    79.820359
Name: MonthlyCharges, dtype: float64

In [13]:
df['Churn'].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [14]:
df.groupby('SeniorCitizen')['Churn'].count()

SeniorCitizen
0    5901
1    1142
Name: Churn, dtype: int64

In [15]:
df.groupby(['Churn', 'gender'])['Churn'].count()

Churn  gender
No     Female    2549
       Male      2625
Yes    Female     939
       Male       930
Name: Churn, dtype: int64

In [16]:
df.groupby(['Churn', 'SeniorCitizen'])['Churn'].count()

Churn  SeniorCitizen
No     0                4508
       1                 666
Yes    0                1393
       1                 476
Name: Churn, dtype: int64

In [17]:
df.groupby(['Churn', 'SeniorCitizen', 'gender'])['Churn'].count()

Churn  SeniorCitizen  gender
No     0              Female    2221
                      Male      2287
       1              Female     328
                      Male       338
Yes    0              Female     699
                      Male       694
       1              Female     240
                      Male       236
Name: Churn, dtype: int64

In [22]:
sum_total = sum(df['tenure'] * df['MonthlyCharges'])
df.groupby(['gender']).apply(lambda df,col1,col2: sum(df[col1] * df[col2])/ sum_total, 'tenure', 'MonthlyCharges')

gender
Female    0.495258
Male      0.504742
dtype: float64

In [31]:
sum_total = sum(df['tenure'] * df['MonthlyCharges'])
df.groupby(['gender', 'SeniorCitizen', 'InternetService']).apply(lambda df,col1,col2: sum(df[col1] * df[col2])/ sum_total, 'tenure', 'MonthlyCharges')

gender  SeniorCitizen  InternetService
Female  0              DSL                0.141101
                       Fiber optic        0.223347
                       No                 0.030309
        1              DSL                0.016665
                       Fiber optic        0.082856
                       No                 0.000980
Male    0              DSL                0.143927
                       Fiber optic        0.231774
                       No                 0.029585
        1              DSL                0.017326
                       Fiber optic        0.080088
                       No                 0.002041
dtype: float64

In [29]:
#df_yes = df[df['Churn'] == 'Yes']
churn_total = df['Churn'].value_counts()

df.groupby(['gender']).apply(lambda df,col1 : df[col1].value_counts()/churn_total, 'Churn')

Churn         No       Yes
gender
Female  0.492656  0.502408
Male    0.507344  0.497592

In [30]:
df.groupby(['gender', 'SeniorCitizen', 'InternetService']).apply(lambda df,col1 : df[col1].value_counts()/churn_total, 'Churn')

Churn                                       No       Yes
gender SeniorCitizen InternetService
Female 0             DSL              0.170854  0.096843
                     Fiber optic      0.128334  0.248796
                     No               0.130073  0.028357
       1             DSL              0.016428  0.020332
                     Fiber optic      0.043487  0.106474
                     No               0.003479  0.001605
Male   0             DSL              0.173367  0.107009
                     Fiber optic      0.134712  0.234885
                     No               0.133939  0.029428
       1             DSL              0.018554  0.021402
                     Fiber optic      0.041167  0.103799
                     No               0.005605  0.001070

In [34]:
df.groupby(['gender', 'SeniorCitizen', 'InternetService']).apply(lambda df,col1,col2: sum(df[col1] * df[col2])/ sum_total, 'tenure', 'MonthlyCharges')

gender  SeniorCitizen  InternetService
Female  0              DSL                0.141101
                       Fiber optic        0.223347
                       No                 0.030309
        1              DSL                0.016665
                       Fiber optic        0.082856
dtype: float64

In [ ]:
{
  "name": "groupby_test",
  "image_uri": "public.ecr.aws/saturncloud/saturn:2022.04.01",
  "description": "",
  "environment_variables": {},
  "working_directory": "/home/jovyan/workspace",
  "start_script": "",
  "git_repositories": [],
  "secrets": [],
  "jupyter_server": {
    "instance_type": "2xlarge",
    "disk_space": "10Gi",
    "auto_shutoff": "1 hour",
    "start_ssh": false,
    "use_spot_instance": false
  },
  "owner": "spierre91",
  "visibility": "owner",
  "schema_version": "2022.05.01"
}